/* ======Common Css====== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
li,
ol,
a {
  list-style: none;
}
a {
  text-decoration: none !important;
  display: inline-block;
}
span {
  display: inline-block;
}
img {
  vertical-align: middle;
}

/* ======Common Class====== */
.cursor {
  cursor: pointer;
}

:root {
  --primary_bg_color: #1c1e53;
  --secondary_bg_color: #f4f6fc;
  /* --tertiary_bg_color: #F4F6FC; */
  --white_bg_color: #ffffff;
  --button_bg_color: #fcd980;

  --light_text_color: #ffffff;
  --dark_text_color: #282938;
  --button_text_color: #1b1c2b;
  --icon_color: #2405f2;

  --summary_text_color: #bbbbcb;
  --summary_font_size: 16px;
  --summary_font_weight: 400;
  --summary_line_hight: 28px;

  --heading_font_size: 54px;
  --heading_font_weight: 600;
  --headimg_line_hight: 76px;

  --title_font_size: 48px;
  --title_font_weight: 600;
  --title_line_hight: 64px;

  --sub_title_font_size: 32px;
  --sub_title_font_weight: 500;
  --sub_title_line_hight: 48px;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
